.u-flexContainer {
  display: flex;
  align-items: center;
}

.u-flexGrow {
  flex-grow: 1;
}

.u-imageBackground {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.u-positionRelative {
  position: relative;
}

.u-fullHeight {
  height: 100vh;
}
